<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card">
        <img src="https://res.cloudinary.com/drrxcbatq/image/upload/v1574864157/babies.jpg" class="card-img-top" alt="pet_profile_image">
          <div class="card-body">
            <h3 class="card-title"><%= @pet.name %></h3>
            <p class="card-text"><%= @pet.description %></p>
          </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: <%= @pet.age %></li>
            <li class="list-group-item">Gender: <%= @pet.gender %></li>
            <li class="list-group-item">HDB-approved: <% if @pet.HDB_approved? %>
              Yes
              <% else %>
              No
              <% end %></li>
          </ul>
          <%= simple_form_for ([@pet, @adoption]) do |f| %>
            <%= f.button :submit, "Adopt Me", class: 'btn btn-primary btn-block' %>
          <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="card">
      <img src="https://res.cloudinary.com/drrxcbatq/image/upload/v1574864157/babies.jpg" class="card-img-top" alt="pet_profile_image" class="card-img-top" alt="owner_profile_image">
        <div class="card-body">
          <h3 class="card-title"><%= @pet.owner.first_name.capitalize %><%= @pet.owner.last_name %></h3>
          <p class="card-text"><%= @pet.owner.bio %></p>
        </div>
        <div class="card-body">
          <a href="https://wa.me/6597295356" class="card-link">Message Me on WhatsApp</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
